html {
    cursor: url(https://cdn.custom-cursor.com/db/14380/32/color-cherry-cursor.png), pointer;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder !important;
}

td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 100;
    font-size: 60px;
    cursor: url(https://cdn.custom-cursor.com/db/14379/32/color-cherry-pointer.png), pointer;
}

label, input, button {
    cursor: url(https://cdn.custom-cursor.com/db/14567/32/color-chilli-red-pointer.png), pointer !important;
}

td:active {
    cursor: url(https://cdn.discordapp.com/attachments/762875738327351297/1089015811596894283/color-cherry-pointer-big.png), pointer !important;
}

table {
    border-collapse: separate;
    margin: 20px auto;
}

table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}

.endgame {
    display: none;
    width: 304px;
    height: 306px;
    top: 131px;
    background-color: rgba(250, 100, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    font-size: 2em;
}

.difficulty {
    width: 320px;
    margin: 10px auto;
    background-color: rgba(250, 100, 0, 0.2);
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 320px;
    margin: 10px auto;
    background-color: rgba(250, 100, 0, 0.2);
    border: 2px solid black;
    border-radius: 10px;
}